---
const personalImageAlt = "Victor Delgado, Ingeniero de Sistemas";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Victor Delgado. En el año 2017, escribí mi primera línea de
      código en Python<strong
        >. Desde entonces, realicé un Técnico en Sistemas en el SENA, donde
        profundice en este lenguaje y también con MySQL. En la Universidad de
        Nariño, trabajé con C++, Java POO, Python, y frameworks como Flask y
        Laravel 10, además de bases de datos relacionales como PostgreSQL, MySQL
        y Oracle</strong
      >.
    </p>

    <p>
      En enero de 2024<strong
        >, comencé a realizar mis prácticas en la empresa Alianza Sureña, donde
        utilicé eventos y artefactos de SCRUM, y me apoyé usando Laravel 10 con
        Inertia, React, Breeze, Tailwind CSS y MySQL</strong
      >. Desarrollé un sistema para la gestión de torneos de fútbol que esta
      empreza organizan en el suroccidente de Colombia, el cual comprende buscar
      los mejores equipos para la Baby Futbol y ChiquiFutbol además de un
      sistema de información para su escuela de fútbol llamada Futuras
      Estrellas.
    </p>

    <p>
      Como Ingeniero de Sistemas, <strong
        >me apasiona el desarrollo web porque me brinda la oportunidad de
        resolver problemas reales y mejorar la vida de las personas a través de
        la tecnología. Mi objetivo es seguir ampliando mis conocimientos y
        habilidades, trabajando en proyectos que no solo sean técnicamente
        desafiantes, sino que también tengan un impacto tangible en la comunidad
        y el sector en el que se implementen</strong
      >.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
